{% extends ('::base.html.twig') %}

{% block body %}

<!-------------------------------------------------->
<!--! BOX D'AJOUT DE MEMO SUR LA PAGE D'ACCUEIL  -->
<!-------------------------------------------------->

	<div id="box_last_new">
	
		<div id="box_las_new_content">
			<div id="box_add_last_new_ctleft">
				<ul class="activity">
					<li class="activity"><span class="date">20/12/13 à 22h31 ></span> J'ai fais un truc trop cheloud comme étendre une classe dans symfony2 et avec twig.
					</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
					<li class="activity"><span class="date">20/12/13 à 22h32 ></span> J'ai fais un truc trop cheloud encore une fois</li>
				</ul>
			</div>
			<div id="box_add_last_new_ctright">
				<ul class="last_user_memo_ct">
					<li class="last_user_memo">Etendre une classe</li>
					<li class="last_user_memo">Etendre une classe</li>
					<li class="last_user_memo">Etendre une classe</li>
					<li class="last_user_memo">Etendre une classe</li>
					<li class="last_user_memo">Etendre une classe</li>
				</ul>
			</div>
				<div class="clear"></div>
		</div>
		
	<div class="clear"></div>
	
	</div>
	
<!-------------------------------------------------------->
<!--! FIN DU BOX D'AJOUT DE MEMO SUR LA PAGE D'ACCUEIL  -->
<!-------------------------------------------------------->

		<div id="box_actu_friends">friends right</div>
		<div id="box_actu_mine">mine left</div>
		<div class="clear"></div>
	</div>
	
{% endblock %}

