/************************************************/
/*! BOX D'AJOUT DE MEMO SUR LA PAGE D'ACCUEIL   */
/*  DU MEMBRE UNIQUEMENT                        */
/************************************************/


#box_last_new{
	background: #FFF;
	padding: 10px;
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
	margin-bottom: 20px;
	background: #333;
	height: 100%
}

	#box_add_last_new_ctleft{ 
		width:48%; 
		float: left; 
	}
	
	#box_add_last_new_ctleft img#headline{ }
	
	#box_add_last_new_ctright{ width:50%; float: right }
	
		#box_add_last_new_ctright ul.last_user_memo_ct{ border: 1px dotted #C0C0C0; }
		#box_add_last_new_ctright li.last_user_memo{ 
						background: #fafafa; 
						padding: 6px 8px;
						border-bottom: 1px solid #dcdbdb;
						
		}
		
	#box_add_last_new_ctright{}

/****************************/
/*! BOX DE ACTU DE GAUCHE  */
/**************************/

#box_actu_mine{
	float: left;
	background: #FFF;
	border: 1px solid #ccc; 
	padding: 10px;
	width: 46%;
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
}

/****************************/
/*! BOX DE ACTU DE DROITE  */
/**************************/

#box_actu_friends{
	float: right;
	width: 46%;
	background: #FFF;
	border: 1px solid #ccc; 
	padding: 10px;
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
}